body {
    background-color: #576574;
}

.btn {
    cursor: pointer;
}

h1 {
    color: #34495e;
    transition: color 0.5s ease-in-out;
    /*전환하는 효과 주는 것*/
}

.clickedkk {
    color: #7f8c8d;
}

/* form, greetings 클래스의 경우 화면에 표시x
showing 클래스로 전환하는 경우 화면에 표시할 공간을 생성 

클래스 선택은 앞에 .을 붙여 사용
*/

.form,
.greetings {
    display: none;
}

.showing {
    display: block;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

.backgroundImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* z-index 0이나 -1해주면 제일 뒤로 감 */
    animation: fadeIn 2.5s linear;
}
